<div class="col-sm-12 form-container">
<% /* フォーム */ %>
<form method="post" class="form-horizontal" >
  <div class="menu-group">
    <% /* メッセージ */ %>
    <% if (message !== undefined) { %>
        <p class="error message">
          <%= message %>
        </p>
    <% } %>
  </div>

  <% /* 作品コード */ %>
  <div class="form-group ">
    <label class="col-sm-2 control-label label-title">
      作品コード
    </label>
    <div class="col-sm-10">
      <input readonly disabled style="width:auto;" type="text" class="form-control" name="_id" id="_id" placeholder="" maxlength=64 value="<%= forms.code %>">
    </div>
  </div>

  <% /* 登録・更新共通部 */ %>
  <%- include('form', { forms: forms }) %>

  <% /* 更新ボタン */ %>
  <div class="form-group">
    <div class="btn-area">
      <a class="btn btn-ok"><span>更新する</span></a>
    </div>
  </div>
</form>
</div>
<script>
$(function(){
    $('.btn-ok').on('click', function(){
        $('form').submit();
    });

});
</script>
