
<script src="/js/master/reportSales.js"></script>
<section>
    <h1>アカウント別レポート出力</h1>
    <hr>
    <form method="post" class="form-accountreport">

        <label for="select_account">アカウント名</label>
        <select id="select_account" class="form-control" name="owner">
            <option value="">指定無し</option>
            <% owners.forEach((owner) => { %>
                <option value="<%= owner._id %>"><%= owner.name.ja %></option>
            <% }) %>
        </select>

        <hr>

        <label for="input_reportrange">集計期間</label>
        <input id="input_reportrange" class="input-daterangepicker form-control" placeholder="(期間を指定してください)" name="reportrange">

        <hr>

        <p>
            <a id="btn_download_accountreport" href="#" target="_blank" class="btn btn-download btn-disabled"><span>レポートダウンロード</span></a>
        </p>
    </form>
    <%- include('../../common/master/_loading') %>
</section>
